<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <trust level="Full" originUrl="" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="PgpEntities" connectionString="metadata=res://*/PgpCard.csdl|res://*/PgpCard.ssdl|res://*/PgpCard.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:s01.winhost.com;Initial Catalog=DB_10414_breastfriend;User ID=DB_10414_breastfriend_user;Password=BFriends98;Integrated Security=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ErrorEdm" connectionString="metadata=res://*/Errors.csdl|res://*/Errors.ssdl|res://*/Errors.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:s01.winhost.com;Initial Catalog=DB_10414_breastfriend;User ID=DB_10414_breastfriend_user;Password=BFriends98;Integrated Security=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <appSettings>
    <add key="serviceURI" value="http://localhost:55345/PgpCardService.svc/" />
    <add key="mailState" value="on" />
  </appSettings>
</configuration>